@model Zetbox.Client.ASPNET.DataObjectEditViewModel<Zetbox.App.Projekte.Task>
@using Zetbox.Client.ASPNET
@{
    ViewBag.Title = "Details of a Task";
}
<h2>@Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Name"]) (@Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Projekt"]))</h2>
<div class="AreaGroup1">
    <div class="edit-link-container">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "button" })
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Aufwand"])
    </div>
    <div class="editor-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Aufwand"])
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["DatumVon"])
    </div>
    <div class="editor-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["DatumVon"])
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["DatumBis"])
    </div>
    <div class="editor-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["DatumBis"])
    </div>
</div>
<p>
    @Html.ActionLink("Back to Project", "Details", "Project", new { id = Model.Object.Projekt.ID }, null)
</p>
