@model Zetbox.Client.ASPNET.DataObjectEditViewModel<Zetbox.App.Test.PropertyEnumTest>
@using Zetbox.Client.ASPNET
@{
    ViewBag.Title = "A Test Enum";
}
<h2>
    A Test Enum</h2>
<div class="AreaGroup1">
    <div class="edit-link-container">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "button" })
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Nullable"], asReadOnly: true)
    </div>
    <div class="editor-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Nullable"])
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["NullableWithDefault"], asReadOnly: true)
    </div>
    <div class="editor-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["NullableWithDefault"])
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["Standard"], asReadOnly: true)
    </div>
    <div class="editor-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["Standard"])
    </div>
    <div class="editor-label">
        @Html.ZbLabelFor(model => model.ViewModel.PropertyModelsByName["StandardWithDefault"], asReadOnly: true)
    </div>
    <div class="editor-field">
        @Html.ZbDisplayFor(model => model.ViewModel.PropertyModelsByName["StandardWithDefault"])
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
